#Prepare Data

POST /product/_doc/100
{
  "name": "Product 1",
  "price": 10,
  "inventory": 5
}

POST /product/_doc/200
{
  "name": "Product 2",
  "price": 10,
  "inventory": 5
}

#check data
GET /product/_search
{
  "query": {
    "match_all": {}
  }
}

# Update by query
POST /product/_upda
# update multiple documents based on condition
POST /product/_update_by_query
{
  "script": {
    "source": "ctx._source.inventory--"
  },
  "query": {
    "match_all": {}
  }
}
