#Prepare Data

POST /product/_doc/100
{
  "name": "Product 1",
  "price": 10,
  "inventory": 5
}

POST /product/_doc/200
{
  "name": "Product 2",
  "price": 10,
  "inventory": 5
}
# Update by query
# update multiple documents based on condition
POST /products
